In [ ]:
a=[1,2,3,4]
b=0
for x in a :
  b=b+x
print(b)

10

In [ ]:
a=[1,2,3,4]
b=1
for x in a :
  b=b*x
print(b)

24

In [ ]:
a=[]
if (a==[]):
  print("empty")
else :
  print("thank you")

thank you

In [ ]:
a= []
b= (input("enter list : "))
print(a.append(b))
print (a)

enter list : 1,4,3,5
None
['1,4,3,5']

In [ ]:
a=int(input("enter number : "))
x,y=0,1
z=0
if a==1:
  print(a)
  print(x)
else:
  while z<a:
    print (x)
    c=x+y
    x=y
    y=c
    z+=1

enter number : 4
0
1
1
2