In [ ]:
 var_3 = 12346733
var_4 = 5.78694734
var_6 = " python code " 
print (var_3)
print (var_4)
print (var_6) #this will print my variable
print (type(var_3))
print (type(var_4))
print (type(var_6))

12346733
5.78694734
 python code
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
grade = 7
name = ("yara")
age = 13
print ("my name is",name,", i am in grade",grade,". i am almost",age,)

my name is yara , i am in grade 7 . i am almost 13

In [ ]:
print ( "H\n E\n L\n L\n O\n" )

H
 E
 L
 L
 O

In [ ]:
grade = 7
name = ("yara")
print ("i am in grade",grade,"my name is ", name )

i am in grade 7 my name is  yara